# Module 6 Exercises

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
np.__version__

'1.22.4'

In [3]:
pd.__version__

'1.2.4'

## Exercise 6.1

In [6]:
df = pd.DataFrame({
    'features': [1.4,5.6,7.8,2.3],
    'labels': [0,1,2,1]
})

In [7]:
df

   features  labels
0       1.4       0
1       5.6       1
2       7.8       2
3       2.3       1

## Exercise 6.2

In [9]:
df = df.rename(columns = {'labels':'label'})

In [10]:
df

   features  label
0       1.4      0
1       5.6      1
2       7.8      2
3       2.3      1

## Exercise 6.3

In [36]:
iris = sns.load_dataset('iris')

In [37]:
iris.sort_values(by = 'species', ascending = False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

## Exercise 6.4

In [38]:
iris.value_counts('species').to_frame('count')

            count
species
setosa         50
versicolor     50
virginica      50

## Exercise 6.5

In [39]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)])

137

## Exercise 6.6

In [40]:
iris['min_petal_sepal_length'] = iris.apply(lambda x: min(x.petal_length,x.sepal_length), axis = 1)

In [41]:
iris

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal_sepal_length
0,5.1,3.5,1.4,0.2,setosa,1.4
1,4.9,3.0,1.4,0.2,setosa,1.4
2,4.7,3.2,1.3,0.2,setosa,1.3
3,4.6,3.1,1.5,0.2,setosa,1.5
4,5.0,3.6,1.4,0.2,setosa,1.4
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,5.2
146,6.3,2.5,5.0,1.9,virginica,5.0
147,6.5,3.0,5.2,2.0,virginica,5.2
148,6.2,3.4,5.4,2.3,virginica,5.4
149,5.9,3.0,5.1,1.8,virginica,5.1

## Exercise 6.7

In [44]:
pd.pivot_table(iris, values=["sepal_width","petal_width"], columns=["species"], aggfunc = [np.mean, np.median])

              mean                      median
species     setosa versicolor virginica setosa versicolor virginica
petal_width  0.246      1.326     2.026    0.2        1.3       2.0
sepal_width  3.428      2.770     2.974    3.4        2.8       3.0

In [49]:
## Braces turn aggregate functions into rows
pd.pivot_table(iris, values=["sepal_width","petal_width"], columns=["species"], aggfunc = {np.mean, np.median})

species             setosa  versicolor  virginica
petal_width mean     0.246       1.326      2.026
            median   0.200       1.300      2.000
sepal_width mean     3.428       2.770      2.974
            median   3.400       2.800      3.000

In [51]:
pd.pivot_table(iris, values=["sepal_width","petal_width"], columns=["species"], aggfunc = [np.mean, np.median]).T

                   petal_width  sepal_width
       species
mean   setosa            0.246        3.428
       versicolor        1.326        2.770
       virginica         2.026        2.974
median setosa            0.200        3.400
       versicolor        1.300        2.800
       virginica         2.000        3.000

## Exercise 6.8

In [56]:
# Setting Common Indeces
df1 = pd.DataFrame({
    'key': ['jaime','bill'],
    'lval':[15,22]
})
df1 = df1.set_index('key')

df2 = pd.DataFrame({
    'key': ['jaime','bill','asher'],
    'rval':[4,5,8]
})
df2 = df2.set_index('key')

In [57]:
# Inner Join
inner = pd.merge(df1,df2,on = 'key',how = 'inner')
inner

       lval  rval
key
jaime    15     4
bill     22     5

In [58]:
# Outer Join
outer = df1.join(df2,how = 'outer')
outer

       lval  rval
key
asher   NaN     8
bill   22.0     5
jaime  15.0     4

## Exercise 6.9

In [61]:
ser = pd.Series([1,1,2,3,5,8])

In [71]:
reshaped = np.array(ser).reshape(2,3) # can also use ser.values

In [73]:
print(reshaped, reshaped.shape)

[[1 1 2]
 [3 5 8]] (2, 3)

## Exercise 6.10

In [74]:
cats = pd.DataFrame({
    'breed':['persian', 'persian', 'siamese', 'himalayan', 'burmese'],
    'color':['calico','white','seal point','cream','sable']
})

In [80]:
dum = pd.get_dummies(cats, prefix=['b','c'])

In [81]:
dum

,b_burmese,b_himalayan,b_persian,b_siamese,c_calico,c_cream,c_sable,c_seal point,c_white
0,0,0,1,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,1
2,0,0,0,1,0,0,0,1,0
3,0,1,0,0,0,1,0,0,0
4,1,0,0,0,0,0,1,0,0

## Exercise 6.11

## Exercise 6.12

## Exercise 6.13